/* Code tidied up by ScrapBook */
@font-face {
  font-family: "fa-viber";
  font-style: normal;
  font-weight: normal;
  src: url("fa-viber_002.eot") format("embedded-opentype"), url("fa-viber_002.ttf") format("truetype"), url("fa-viber_002.woff") format("woff"), url("fa-viber_002.svg") format("svg");
}
.fa-viber::before { font-family: "fa-viber"; content: ""; }
